<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
        <title>CA Update Company Information</title>
    </head>

    <body>
        <body class="custom-body"> 
            <div class="user-actionsCA">
               
            <nav> 
                <div class="logo">EmpRoster</div> 
                <div class="nav-items"> 
                  <a href="/CompanyAdmin/projectview">Projects</a> 
                  <a href="/CompanyAdmin/employeeview">Department Managers</a>
                  <a href="/CompanyAdmin/ViewAllEmployee">Employees</a>  
                  <a href="/CompanyAdmin/companyview">Company</a>  
                  <a href="/CompanyAdmin/departmentskills">Skills</a> 
                  <a href="/CompanyAdmin/enquiry">Enquiry</a> 
                  <a href="/CompanyAdmin/reviews">Reviews</a> 
                  <a href="/CompanyAdmin/profileview" >Profile</a> 
                  <a href="/Logout">Logout</a> 
                </ul>
            </nav>
        </header>

        <main> 
            <section class="demployee_update_accounts">
                <table>
                    <tr>
                        <th>UEN</th>
                        <th>Company Name</th>
                        <th>Company Number</th>
                        <th>Company Address</th>
                        <th>Company Email</th>
                        <th>Departments</th>
                    </tr>

                    <% if (results.length === 0) { %>
                        <tr>
                            <td colspan="13">No Accounts Available</td>
                        </tr>
                    <% } else { %>
                    <% for (const CAcompany of results) { %>
                        <tr>
                            <td><%= CAcompany.UEN %></td>
                            <td><%= CAcompany.CompanyName %></td>
                            <td><%= CAcompany.CompanyNumber %></td>
                            <td><%= CAcompany.CompanyAddress %></td>
                            <td><%= CAcompany.CompanyEmail %></td>
                            <td><%= CAcompany.Departments %></td>
                        </tr>
                        <% } %>
                    <% } %>
                </table>

                <form action="/CompanyAdmin/companyupdate" method="post" class="update-account">

                    <div class="input-containerSA">
                    <% if (results && results.length > 0) { %>
                        <input type="hidden" name="update-CompanyUEN" value="<%= results[0].UEN %>" style="width: 300px;">
                    <% } %>
                    </div>

                    <div class="input-containerSA">
                        <label for="update-account-Role">Company Number</label>
                        <input type="update_text" id="update-account-Role" name="update-CompanyNumber" style="width: 300px;">
                    </div>
                    
                    <div class="input-containerSA">
                        <label for="update-account-Term">Company Email  :</label>
                        <input type="update_text" id="update-account-Term" name="update-CompanyEmail" style="width: 300px;">
                    </div>

                    <div class="button-container">
                        <button type="button" class="submit-btn" onclick="window.location.href='/CompanyAdmin/companyview'">Cancel</button>
                        <button type="submit" class="submit-btn">Update</button>
                    </div>
                </form>
            </section>
        </main>

       
    </body>
</html>