<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM Request Change Avail</title>
    <link rel="stylesheet" type="text/css" href="../CSS/styles4.css">
</head>

<body>
    <header>
        <div class="user-actions">
           
        </div>
    </header>

    <main>
        <div class="container">
        <section class="Login">
            <h2><u>WARNING!</u></h2>

            <form action="" method="POST"> <!-- Updated action to /logout -->

                <!-- <input type="" name="ProjectID" value=""> -->
                <input type="hidden" name="RequestID" value="<%= RequestID %>">
                <input type="hidden" name="ProjectName" value="<%= ProjectName %>">
                <input type="hidden" name="ProjectID" value="<%= ProjectID %>">
                <input type="hidden" name="NewAccountName" value="<%= NewAccountName %>">
                <input type="hidden" name="NewAccountID" value="<%= NewAccountID %>">
                <input type="hidden" name="StartDate" value="<%= StartDate %>">
                <input type="hidden" name="EndDate" value="<%= EndDate %>">
                <input type="hidden" name="Skill" value="<%= Skill %>">
                <input type="hidden" name="Department" value="<%= Department %>">

                <div class="Logout">
                    <h1>
                        By Approving <%= Requestee %>'s Leave Request,<br>
                        Employee <%= NewAccountName %>, Account ID <%= NewAccountID %>,<br> 
                        Will Replace <%= Requestee %><br>
                        From <%= StartDate %> To <%= EndDate %><br>
                        For <%= ProjectName %>
                        <br><br>
                        Are You Sure To Approve The Leave Request?
                    </h1>
                </div>

                <div class="buttons6">
                    <button type="button" class="submit-btn" name="choice" value="no" onclick="window.location.href='/DepartmentManager/request'">No</button>
                    <button type="submit" class="submit-btn" name="choice" value="yes">Yes</button>
                </div>
            </div>
            </form>
        </section>
    </main>
</body>
</html>
